/* frontend/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------- */
/* 필수적인 전역 CSS (Tailwind가 덮어쓰지 않는 부분) */
/* ------------------------------------------- */

/* 가로 스크롤 방지 */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* 기본 리셋 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}